body {
    background-image: linear-gradient(to bottom right, #250808, rgba(58, 172, 175, 0.334), #0d3023);
    background-repeat: no-repeat;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
  }
  
  body, button, input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    height: 96vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #2d302c;
    border-radius: 15px;
  }
  
  .screen:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px #000000;
    z-index: -1;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .screen-body-item.top {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00eeff;
    text-transform: uppercase;
    border-left: 4px solid #250808;
    padding: 10px;
  }
  
  .app-form-group {
    margin-bottom: 15px;
    display: flex;
    
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: center;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #719771;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
  }
  .app-form-control-2 {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #719771;
  }
  
  .app-form-control:focus {
    border-bottom-color: rgb(96, 104, 96);
  }

  .app-form-control-2::placeholder {
    color: #ddd;
  }
  
  .app-form-control-2:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: rgb(38,37,37);
    padding: 9px;
    border: 1px solid green;
    border-radius: 5px;
    color: #689e68;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;

  }
  
  .app-form-button:hover {
    color: azure;
  }
  
  #showData-1{
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
  }
  .showdata-2{
    display: block;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    padding-top: -10px;
    padding-bottom: 10px;
  }